<h1>OrderNotifier#shipped</h1>

<p>
  This is just to let you know that we've shipped your recent order:
</p>
<mtable>
  <tr>
    <th colspan="2">Qty</th>
    <th>Description</th>
  </tr>
<%= render @order.line_items -%>

</mtable>